@model FinalElectron.ViewModels.VmFilter


@{
    ViewBag.Title = "Index";
}

<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9" id="specials">
    <div id="breadcrumb">
        <div class="icon">
            <a href="@Url.Action("Index","Home")">
                <i class="fa fa-home"></i>
            </a>
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">@(Model.ProFilters.Count>0 ? Model.ProFilters.FirstOrDefault().SubCategory.Category.Name:"")</a>
        <div class="icon">
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">@(Model.ProFilters.Count>0 ? Model.ProFilters.FirstOrDefault().SubCategory.Name:"")</a>
    </div>
    <div id="navbar">
        <div class="row">
            <div class="col-lg-2">
                <div class="images">
                    <ul>
                        <li>
                            <div class="image">
                                <img src="~/Public/img/view-list.png" alt="list wiew">
                            </div>
                        </li>
                        <li>
                            <div class="image">
                                <img src="~/Public/img/view-grid.png" alt="view-grid">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="compare">
                    <a href="#">Product Compare(0)</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sort">
                    <h2>Sort By: </h2>
                    <select class="form-control sortSltFltr">
                        <option value="0" selected>Default</option>
                        <option value="1" >Name (A - Z)</option>
                        <option value="2" >Name (Z - A)</option>
                        <option value="3" >Price (Low > High)</option>
                        <option value="4" >Price (High > Low)</option>
                        <option value="5" >Rating (Highest)</option>
                        <option value="6" >Rating (Lowest)</option>
                        <option value="7" >Model (A - Z)</option>
                        <option value="8" >Model (Z - A)</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="show">
                    <h2>Show: </h2>
                    <select class="form-control showCntFltr">
                        <option value="4" >4</option>
                        <option value="8" selected>8</option>
                        <option value="16" >16</option>
                        <option value="32" >32</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="products">
        <div class="row" id="FltrRow">

            @foreach (var item in Model.ProFilters)
            {
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})">
                            <div class="image">
                                <img src="~/Uploads/@item.ProductImages.FirstOrDefault().Name" alt="phone">
                            </div>
                            @if (item.HoverImage != null)
                            {
                                <div class="overlay">
                                    <img src="~/Uploads/@item.HoverImage" alt="hover image">
                                </div>
                            }

                            @if (item.ProductOptions.FirstOrDefault().Quantity > 0)
                            {
                                <div class="forSale">
                                    <span>SALE</span>
                                </div>
                            }
                        </a>

                        <div class="choose">
                            <ul>
                                <li>
                                    <div class="addCardBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="fas fa-shopping-cart"></i></div>
                                </li>
                                <li>
                                    <div class="addWishBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="far fa-heart"></i></div>
                                </li>
                                <li>
                                    <div class="addCompareBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="far fa-chart-bar"></i></div>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})" style="text-decoration:none">
                                <h4>@item.Model.Name @item.Name</h4>
                            </a>
                            <h5>$ @item.ProductOptions.FirstOrDefault().Price.ToString("#.00")<span>@(item.ProductOptions.FirstOrDefault().OldPrice!=0?("$ "+ item.ProductOptions.FirstOrDefault().OldPrice.ToString("#.00")):"")</span></h5>
                            <div class="stars">
                                <ul>
                                    @if (item.Reviews.Count > 0)
                                    {
                                        for (int i = 0; i < 5; i++)
                                        {
                                            <li><i class="fa fa-star @( (item.Reviews.Sum(p=> p.Star)/item.Reviews.Count)<=i? "sade":"") "></i></li>
                                        }
                                    }
                                    else
                                    {
                                        <li> <i class="fa fa-star sade"></i> </li>
                                        <li> <i class="fa fa-star sade"></i> </li>
                                        <li> <i class="fa fa-star sade"></i> </li>
                                        <li> <i class="fa fa-star sade"></i> </li>
                                        <li> <i class="fa fa-star sade"></i> </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Filter
{
    <div id="filter">
        <h2>Filter</h2>
        <hr>
        <div class="choose">
            <div class="myHeader">
                <h3 class="title">PRICE</h3>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="myOption price mt-2">
                <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                <input type="number" min=0 max="9900" oninput="validity.valid||(value='0');" id="min_price" class="price-range-field minPrcFilter" />
                <input type="number" min=0 max="10000" oninput="validity.valid||(value='10000');" id="max_price" class="price-range-field maxPrcFilter" />
            </div>
        </div>
        <hr>
        <div class="choose">
            <div class="myHeader">
                <h3 class="title">Brand</h3>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="myOption brand">
                <span id="BtnClrBrands" class="d-none" style="font-size:14px"><i class="fa fa-window-close"></i> Clear</span>
                @foreach (var item in Model.BrandAndCounts)
                {

                    if (item.Value!=0)
                    {
                          <div class="brandOption">
                              <div class="form-group form-check">
                                  <input type="checkbox" class="form-check-input chkBoxBrdIdFltr" id="chBrend@(item.Key)" value="@Model.Brands.FirstOrDefault(b=>b.Name==item.Key).Id">
                                  <label class="form-check-label" style="text-transform:capitalize"  for="chBrend@(item.Key)">@item.Key</label>
                              </div>
                              <div class="brandQuantity">
                                  <span>@item.Value</span>
                              </div>
                          </div>
                    }
                }
            </div>
        </div>
        <hr>
        <div class="choose">
            <div class="myHeader">
                <h3 class="title">STOCK</h3>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="myOption stock">
                <span id="BtnClrIsStock" class="d-none" style="font-size:14px"><i class="fa fa-window-close"></i> Clear</span>
                <div class="stockOption">
                    <div class="form-check">
                        <input class="form-check-input isStockFltr" type="radio" name="exmplRadio"
                               id="exampleRadios2" value="yes" @(Model.StockAndOutSrock.Key == 0 ? "disabled" : "")>
                        <label class="form-check-label" for="exampleRadios2">
                            In stock
                        </label>
                    </div>
                    <div class="brandQuantity @(Model.StockAndOutSrock.Key==0 ? "backRed":"")">
                        <span>@Model.StockAndOutSrock.Key</span>
                    </div>
                </div>
                <div class="stockOption">
                    <div class="form-check">
                        <input class="form-check-input isStockFltr" type="radio" name="exmplRadio"
                               id="exampleRadios1" value="no" @(Model.StockAndOutSrock.Value == 0 ? "disabled" : "")>
                        <label class="form-check-label" for="exampleRadios1">
                            Out of stock
                        </label>
                    </div>
                    <div class="brandQuantity @(Model.StockAndOutSrock.Value==0 ? "backRed":"")">
                        <span>@Model.StockAndOutSrock.Value</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
