@model FinalElectron.ViewModels.VmBrand

@{
    ViewBag.Title = "Index";
}


<!-- Register  page -->
<div class="col-lg-9 col-sm-8" id="account">
    <div class="row">
        <div class="col-lg-12">
            <!-- brand page -->
            <div id="register">
                <div id="breadcrumb">
                    <div class="icon">
                        <a href="@Url.Action("Index","Home")">
                            <i class="fa fa-home"></i>
                        </a>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <a href="@Url.Action("Index","Contact")">Brand</a>

                </div>
                <h2 class="title mb-0">Find Your Favorite Brand</h2>


                <div class="OurBrand row ml-1 pt-3">
                    <h6 class="font-weight-bold mb-0 d-inline-block">Brand Index: </h6>
                    @foreach (var item in Model.Chars)
                    {
                        <h6 class="BrandChar mb-0 ml-3 d-inline-block" data-char="@item">@item</h6>
                    }

                </div>

                @foreach (var item in Model.Chars)
                {
                    <div class="SelectData">
                        <h2 class="OurBrandChar mb-0 mt-2 pt-3" data-charTop="@item" style="font-size:27px">@item</h2>

                        @foreach (var brand in Model.Brands)
                        {
                            if (item ==  brand.Name.ToUpper()[0].ToString()  )
                            {
                                <a href="#" style="text-decoration:none">
                                    <h6 class="OurBrandName d-inline-block mr-3 mb-0">@brand.Name</h6>
                                </a>
                            }
                        }
                    </div>
                }
            </div>
            <!-- end of brand page -->
        </div>


    </div>
</div>
<!-- end of Register page -->
