@model FinalElectron.ViewModels.Login


@{
    ViewBag.Title = "Index";
}

<!-- Login  page -->
<div class="col-lg-9 col-sm-8" id="account">
    <div class="row">
        <div class="col-lg-8">
            <!-- login page  -->
            <div id="breadcrumb">
                <div class="icon">
                    <a href="#">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <a href="#">Account</a>
                <div class="icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
                <a href="#">login</a>
            </div>
            <div id="newUser">
                <h2>New Customer</h2>
                <h4>Register</h4>
                <p>
                    By creating an account you will be able to shop faster, be up to date on an
                    order's status, and keep track of the orders you have previously made.
                </p>
                <a href="@Url.Action("index","Register")">
                    <button class="btn">Continue</button>
                </a>
            </div>
            <div id="login">
                <h2>Returning Customer</h2>
                <h4>I am a returning customer</h4>
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-Mail</label>

                        @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", @placeholder = "Email Address", @type = "email" })
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })

                     
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>

                        @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })

                    <br />
                        <a href="#">Forgetten password</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <!-- end of login page -->
        </div>
        <div class="col-lg-4">
            <div id="accTable">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><a href="#">Login</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Register</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Wish List</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Order History</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Newsletter</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- end of Login page -->
