@model  FinalElectron.ViewModels.VmHome 

@{
    ViewBag.Title = "Home Page";
}

<div class="col-lg-9 col-sm-8" id="home">
    <!--- slider offers -->
    <div id="offers">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <a href="#">
                    <img src="~/Public/img/offers slide/dinamik.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="~/Public/img/offers slide/tv.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- shop by category -->
    <div id="shopByCategory">
        <div class="topbar">
            <div class="title">
                <h2>SHOP BY CATEGORY</h2>
            </div>
            <div class="sliderCategories">
                <div class="owl-carousel owl-theme">

                    @foreach (var item in ViewBag.Categories)
                    {
                        if (item.SubCategories.Count > 0)
                        {
                            <div class="item">
                                <a href="#">
                                    @item.Name
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <hr>
        <div class="sliderProducts">
            <div class="owl-carousel owl-theme">

                @foreach (var item in Model.ProductsForCategories)
                {
                    <div class="item">
                        <div class="product">
                            <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})">
                                <div class="image">
                                    <img src="~/Uploads/@item.ProductImages.FirstOrDefault().Name" alt="phone">
                                </div>
                                @if (item.HoverImage != null)
                                {
                                    <div class="overlay">
                                        <img src="~/Uploads/@item.HoverImage" alt="hover image">
                                    </div>
                                }

                                @if (item.ProductOptions.FirstOrDefault().Quantity > 0)
                                {
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                }
                            </a>

                            <div class="choose">
                                <ul>
                                    <li>
                                         <div class="addCardBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="fas fa-shopping-cart"></i></div>
                                    </li>
                                    <li>
                                         <div class="addWishBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="far fa-heart"></i></div>
                                    </li>
                                    <li>
                                         <div class="addCompareBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="far fa-chart-bar"></i></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})" style="text-decoration:none">
                                    <h4>@item.Model.Name @item.Name</h4>
                                </a>
                                <h5>$ @item.ProductOptions.FirstOrDefault().Price.ToString("#.00")<span>@(item.ProductOptions.FirstOrDefault().OldPrice!=0?("$ "+ item.ProductOptions.FirstOrDefault().OldPrice.ToString("#.00")):"")</span></h5>
                                <div class="stars">
                                    <ul>
                                        @if (item.Reviews.Count > 0)
                                        {
                                            for (int i = 0; i < 5; i++)
                                            {
                                                <li><i class="fa fa-star @( (item.Reviews.Sum(p=> p.Star)/item.Reviews.Count)<=i? "sade":"") "></i></li>

                                            }
                                        }
                                        else
                                        {
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- on  trend  -->
    <div id="onTrend">
        <div class="topbar">
            <div class="title">
                <h2>trend</h2>
            </div>
        </div>
        <hr>
        <div class="sliderProducts">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/parfum.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <!-- <img src="~/Public/img/products/notbuk.jpg" alt="phone"> -->
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/parfum.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/dinamik.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <!-- <div class="forSale">
                            <span>SALE</span>
                        </div> -->
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- special offers products  -->
    <div id="specials">
        <div class="topbar">
            <div class="title">
                <h2>specials</h2>
            </div>
        </div>
        <hr>
        <div class="products">
            <div class="row">
                @foreach (var item in Model.ProductsSpecial)
                {
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="product">
                                <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})" style="text-decoration:none">
                                    <div class="image">
                                        <img src="~/Uploads/@item.ProductImages.FirstOrDefault().Name" alt="phone">
                                    </div>
                                    @if (item.HoverImage != null)
                                    {
                                        <div class="overlay">
                                            <img src="~/Uploads/@item.HoverImage" alt="phone">
                                        </div>
                                    }

                                </a>
                                <div class="content">
                                    <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})" style="text-decoration:none">
                                        <h4>@item.Model.Name @item.Name</h4>
                                    </a>
                                    <h5>$ @item.ProductOptions.FirstOrDefault().Price.ToString("#.00")<span>@(item.ProductOptions.FirstOrDefault().OldPrice!=0?("$ "+ item.ProductOptions.FirstOrDefault().OldPrice.ToString("#.00")):"")</span></h5>
                                    <div class="stars">
                                        <ul>
                                            @if (item.Reviews.Count > 0)
                                            {
                                                for (int i = 0; i < 5; i++)
                                                {
                                                    <li><i class="fa fa-star @( (item.Reviews.Sum(p=> p.Star)/item.Reviews.Count)<=i? "sade":"") "></i></li>

                                                }
                                            }
                                            else
                                            {
                                                <li> <i class="fa fa-star sade"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
    <!-- latest blog  -->
    <div id="latestBlog">
        <div class="topbar">
            <div class="title">
                <h2>latest blog</h2>
            </div>
        </div>
        <hr>
        <div class="sliderBlog">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="blog">
                        <div class="image">
                            <img src="~/Public/img/products/parfum.jpg" alt="phone">
                        </div>
                        <div class="content">
                            <h4><a href="#">canon camera</a></h4>
                            <div>
                                <span>0 comments</span>
                                <span>|</span>
                                <span>tuesday 19th june 2015</span>
                            </div>
                            <h5>
                                <a href="#">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit. Magnam autem, perspiciatis tempore perferendis?
                                </a>
                            </h5>
                            <button class="btn">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog">
                        <div class="image">
                            <img src="~/Public/img/Blogs/charger.jpg" alt="phone">
                        </div>
                        <div class="content">
                            <h4><a href="#">canon camera</a></h4>
                            <div>
                                <span>0 comments</span>
                                <span>|</span>
                                <span>tuesday 19th june 2015</span>
                            </div>
                            <h5>
                                <a href="#">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit. Magnam autem, perspiciatis tempore perferendis?
                                </a>
                            </h5>
                            <button class="btn">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog">
                        <div class="image">
                            <img src="~/Public/img/Blogs/dinamikler.jpg" alt="phone">
                        </div>
                        <div class="content">
                            <h4><a href="#">canon camera</a></h4>
                            <div>
                                <span>0 comments</span>
                                <span>|</span>
                                <span>tuesday 19th june 2015</span>
                            </div>
                            <h5>
                                <a href="#">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit. Magnam autem, perspiciatis tempore perferendis?
                                </a>
                            </h5>
                            <button class="btn">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog">
                        <div class="image">
                            <img src="~/Public/img/Blogs/google.jpg" alt="phone">
                        </div>
                        <div class="content">
                            <h4><a href="#">canon camera</a></h4>
                            <div>
                                <span>0 comments</span>
                                <span>|</span>
                                <span>tuesday 19th june 2015</span>
                            </div>
                            <h5>
                                <a href="#">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit. Magnam autem, perspiciatis tempore perferendis?
                                </a>
                            </h5>
                            <button class="btn">Read More</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- latest products  -->
    <div id="latestProduct">
        <div class="topbar">
            <div class="title">
                <h2>latest</h2>
            </div>
        </div>
        <hr>
        <div class="sliderProducts">
            <div class="owl-carousel owl-theme">

                @foreach (var item in Model.ProductsLatest)
                {
                    <div class="item">
                        <div class="product">
                            <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})">
                                <div class="image">
                                    <img src="~/Uploads/@item.ProductImages.FirstOrDefault().Name" alt="phone">
                                </div>
                                @if (item.HoverImage != null)
                                {
                                    <div class="overlay">
                                        <img src="~/Uploads/@item.HoverImage" alt="hover image">
                                    </div>
                                }

                                @if (item.ProductOptions.FirstOrDefault().Quantity > 0)
                                {
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                }
                            </a>

                            <div class="choose">
                                <ul>
                                    <li>
                                        <div class="addCardBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="fas fa-shopping-cart"></i></div>
                                    </li>
                                    <li>
                                        <div class="addWishBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="far fa-heart"></i></div>
                                    </li>
                                    <li>
                                        <div class="addCompareBtn" data-id="@item.ProductOptions.FirstOrDefault().Id"><i class="far fa-chart-bar"></i></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <a href="@Url.Action("Index","Detail" ,new { id=item.ProductOptions.FirstOrDefault().Id})" style="text-decoration:none">
                                    <h4>@item.Model.Name @item.Name @item.ProductOptions.FirstOrDefault().Color.Name</h4>
                                </a>
                                <h5>$ @item.ProductOptions.FirstOrDefault().Price.ToString("#.00")<span>@(item.ProductOptions.FirstOrDefault().OldPrice!=0?("$ "+ item.ProductOptions.FirstOrDefault().OldPrice.ToString("#.00")):"")</span></h5>
                                <div class="stars">
                                    <ul>
                                        @if (item.Reviews.Count > 0)
                                        {
                                            for (int i = 0; i < 5; i++)
                                            {
                                                <li><i class="fa fa-star @( (item.Reviews.Sum(p=> p.Star)/item.Reviews.Count)<=i? "sade":"") "></i></li>
                                            }
                                        }
                                        else
                                        {
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                            <li> <i class="fa fa-star sade"></i> </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="item">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/parfum.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <!-- <img src="~/Public/img/products/notbuk.jpg" alt="phone"> -->
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<!-- only home page section  -->
@section Companies
{
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="companies">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <a href="#">
                                    <img src="~/Public/img/companies/1-166x110.png" alt="phone">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/2-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-3-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-4-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-5-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-58-166x110 (1).png"
                                     alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-58-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-6-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-7-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="company">
                            <div class="image">
                                <img src="~/Public/img/companies/brand-8-166x110.png" alt="phone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<!-- end of companies carousel  -->