<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap  css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- font-awesome css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">

    <!-- owl carusel css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- jquerry ui css for range slider -- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!-- price range slider for  -->
    <link href="~/Public/css/price_range_style.css" rel="stylesheet" />


    <!-- esas css-- -->
    <link rel="stylesheet" href="~/Public/css/style.css">

    <title>Electron</title>
</head>

<body>

    <div id="wrapper">
        <header>
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 d-sm-none d-md-block d-lg-block">
                            <div class="navbarTopTitle">
                                <a href="#">Get Up to 70% Discount Everyday</a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="navbarTop">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","Compare")">Compare(<span class="CompareProCount">@ViewBag.CompareListCount</span>)</a>
                                    </li>
                                    <li style="color: white; font-size: 13px;">|</li>
                                    <li>
                                        <a href="@Url.Action("Wishlist","Account")">Wish list(<span class="wishListCount">@ViewBag.WishListCount</span>)</a>
                                    </li>
                                    <li style="color: white; font-size: 13px;">|</li>
                                    <li>
                                        <div class="dropdown">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                My Account
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                                @if (Session["User"] == null)
                                                {
                                                    <a class="dropdown-item" href="@Url.Action("Index","Register")">Register</a>
                                                    <a class="dropdown-item" href="@Url.Action("Index","Login")">Login</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" href="@Url.Action("Index","Account")">My Account</a>
                                                    <a class="dropdown-item" href="@Url.Action("OrderHistory","Account")">Order History</a>
                                                    <a class="dropdown-item" href="@Url.Action("Logout","Login")">Logout</a>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myNavbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="navImg">
                                <a href="@Url.Action("Index","Home")">
                                <img src="~/Public/img/logo/logo-new.png" alt="logo">
                                    </a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="navSearch">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search"
                                           aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="navSebet">
                                <a href="@Url.Action("Index","Cart")" style="color:inherit; text-decoration:none">
                                    <button>
                                        <div class="icon">
                                            <i class="fas fa-shopping-bag"></i>
                                        </div>
                                        <div class="price">
                                            <span><span id="nav-Count">@ViewBag.CartCountPrice.Key</span> Items / $<span id="nav-Price">@ViewBag.CartCountPrice.Value.ToString("#.00")</span></span>
                                        </div>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myMenu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="menu">
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li><a href="@Url.Action("Index","Special")">Specials Offers</a></li>
                                    <li><a href="@Url.Action("Index","Contact")">Contact</a></li>
                                    <li><a href="@Url.Action("Index","Sitemap")">Sitemap</a></li>
                                    <li><a href="@Url.Action("Index","Brand")">Brand</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-xs-12">
                        <div id="categories">
                            <div class="title">
                                <h1>
                                    <i class="fa fa-list"></i>
                                    categories
                                </h1>
                            </div>
                            <ul>

                                @foreach (var item in ViewBag.Categories)
                                {
                                    if (item.SubCategories.Count > 0)
                                    {
                                        <hr>
                                        <li>
                                            <div class="image">
                                                <img src="~/Uploads/@item.Image" alt="catagory image">
                                            </div>
                                            <div class="btn-group dropright">


                                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @item.Name
                                                </button>

                                                <div class="dropdown-menu">

                                                    @foreach (var itemSub in item.SubCategories)
                                                    {
                                                        <a class="dropdown-item" href="@Url.Action("Index","Filter", new { id = itemSub.Id })">@itemSub.Name</a>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>



                        </div>
                        @RenderSection("Filter", false)

                        <div id="hotDeals">
                            <div class="title">
                                <h1>hot deals</h1>
                            </div>
                            <hr>
                            <div class="owl-carousel owl-theme">

                                @*@foreach (var item in ViewBag.HotDeals)
                                {

                                    <div class="item">
                                        <a href="#">
                                            <div class="image">
                                                <img src="~/Uploads/@item.ProductOption.Product.ProductImages.FirstOrDefault().Name" alt="Watch sale">
                                            </div>
                                            <div class="timer">
                                                <ul>
                                                    <li>
                                                        <div>
                                                            <h3>159</h3>
                                                            <h4>Days</h4>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h3>9</h3>
                                                            <h4>Hrs</h4>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h3>16</h3>
                                                            <h4>Mins</h4>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h3>26</h3>
                                                            <h4>Secs</h4>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>

                                        <div class="choose">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="fas fa-shopping-cart"></i></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="far fa-heart"></i></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="far fa-chart-bar"></i></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                            <h4>apple Watch 30"</h4>
                                            <h5>$110.00 <span>$122.00</span></h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }*@

                                <div class="item">
                                        <a href="#">
                                            <div class="image">
                                                <img src="~/Public/img/Watch.jpg" alt="Watch sale">
                                            </div>
                                            <div class="timer">
                                                <ul>
                                                    <li>
                                                        <div>
                                                            <h3>159</h3>
                                                            <h4>Days</h4>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h3>9</h3>
                                                            <h4>Hrs</h4>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h3>16</h3>
                                                            <h4>Mins</h4>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h3>26</h3>
                                                            <h4>Secs</h4>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>

                                        <div class="choose">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="fas fa-shopping-cart"></i></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="far fa-heart"></i></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="far fa-chart-bar"></i></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                            <h4>apple Watch 30"</h4>
                                            <h5>$110.00 <span>$122.00</span></h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                <div class="item">
                                        <div class="image">
                                            <img src="~/Public/img/phone.jpg" alt="Watch sale">
                                        </div>
                                        <div class="timer">
                                            <ul>
                                                <li>
                                                    <div>
                                                        <h3>19</h3>
                                                        <h4>Days</h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h3>4</h3>
                                                        <h4>Hrs</h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h3>45</h3>
                                                        <h4>Mins</h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h3>6</h3>
                                                        <h4>Secs</h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="choose">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="fas fa-shopping-cart"></i></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="far fa-heart"></i></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div><i class="far fa-chart-bar"></i></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone 11 pro</h4>
                                            <h5>$1410.00 <span>$1582.00</span></h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!-- latest products -->
                        <div id="latest">
                            <div class="title">
                                <h1>latest</h1>
                            </div>
                            <hr>
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple macbook</h4>
                                            <h5>$2810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple tv</h4>
                                            <h5>$710.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple macbook</h4>
                                            <h5>$2810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple macbook</h4>
                                            <h5>$2810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple macbook</h4>
                                            <h5>$2810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- best seller -->
                        <div id="latest">
                            <div class="title">
                                <h1>best seller</h1>
                            </div>
                            <hr>
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>sony tv</h4>
                                            <h5>$810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>samsun S10</h4>
                                            <h5>$1650.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple tv</h4>
                                            <h5>$710.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple macbook</h4>
                                            <h5>$2810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple macbook</h4>
                                            <h5>$2810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple macbook</h4>
                                            <h5>$2810.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="image">
                                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                                        </div>
                                        <div class="overlay">
                                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                                        </div>
                                        <div class="content">
                                            <h4>apple iphone</h4>
                                            <h5>$1410.00</h5>
                                            <div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="newsletter">
                            <div class="title">
                                <h1>newsletter</h1>
                            </div>
                            <hr>
                            <h3>Sign Up For Our Newsletter</h3>
                            <div class="myForm">
                                <form action="@Url.Action("AddNewsletter","Home")" method="post" id="myNewsletter">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email"
                                               placeholder="Your email address">
                                    </div>
                                    <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
                                </form>
                            </div>
                        </div>
                        <div id="testimonial">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="image">
                                        <img src="~/Public/img/testimonial/testi1.png" alt="">
                                    </div>
                                    <h3>orando bloom</h3>
                                    <div class="content">
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quasi
                                            veritatis, vel nihil ab quaerat, repudiandae perferendis labore modi itaque
                                            exercitationem facilis atque aperiam sed ut ad voluptate neque consectetur.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="~/Public/img/testimonial/testi2.png" alt="">
                                    </div>
                                    <h3>orando bloom</h3>
                                    <div class="content">
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quasi
                                            veritatis, vel nihil ab quaerat, repudiandae perferendis labore modi itaque
                                            exercitationem facilis atque aperiam sed ut ad voluptate neque consectetur.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="~/Public/img/testimonial/testi3.png" alt="">
                                    </div>
                                    <h3>orando bloom</h3>
                                    <div class="content">
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quasi
                                            veritatis, vel nihil ab quaerat, repudiandae perferendis labore modi itaque
                                            exercitationem facilis atque aperiam sed ut ad voluptate neque consectetur.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- render -->
                    @RenderBody()
                </div>
            </div>

            @RenderSection("Companies", false)

        </main>

        <footer>
            <div class="container-fluid" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2>extras</h2>
                            <div class="choose">
                                <ul>
                                    <li><a href="@Url.Action("Index","Contact")">Contact Us</a></li>
                                    <li><a href="@Url.Action("Index","Special")">specials</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="@Url.Action("Index","Brand")">Brands</a></li>
                                    <li><a href="@Url.Action("OrderHistory","Account")">Order History</a></li>
                                    <li><a href="@Url.Action("Index","Sitemap")">site map</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h2>INFORMATION</h2>
                            <div class="choose">
                                <ul>
                                    <li><a href="@Url.Action("Index","Contact")">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Gift Certificates</a></li>
                                    <li><a href="@Url.Action("OrderHistory","Account")">Order History</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h2>MY ACCOUNT</h2>
                            <div class="choose">
                                <ul>
                                    <li><a href="@Url.Action("Index","Account")">My Account</a></li>
                                    <li><a href="@Url.Action("OrderHistory","Account")">Order History</a></li>
                                    <li><a href="@Url.Action("Wishlist","Account")">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Gift Certificates</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h2>CONTACT US</h2>
                            <div class="contact">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <p>42 Dream House, Dreammy street</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <p>company@gmail.com</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <p>456-456-4512</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-paper-plane"></i>
                                        </div>
                                        <p>4Dream City, USA</p>
                                    </li>
                                    <h3>opening time</h3>
                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-clock"></i>
                                        </div>
                                        <p>Mon-Fri: 8:30am - 9:30pm</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>
                                <a href="#">
                                    Powered By <span>OpenCart</span>Your Store © 2020
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- jquerry js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- owl js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- owl js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.2.0/dist/sweetalert2.all.min.js"></script>


    <!-- jquerry ui for range slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- price range slider -->
    <script src="~/Public/js/price_range_script.js"></script>

    <script src="~/Public/js/script.js"></script>
</body>

</html>