@model FinalElectron.ViewModels.VmDetail

@{
    ViewBag.Title = "Index";
}

    <div class="col-lg-9 col-sm-8" id="productDetails">
        <div id="breadcrumb">
            <div class="icon">
                <a href="#">
                    <i class="fa fa-home"></i>
                </a>
                <i class="fas fa-chevron-right"></i>
            </div>
            <a href="#"> @Model.Product.Model.Name @Model.Product.Name  @Model.Color.Name</a>
        </div>
        <!-- images and general info  -->
        <div class="row product">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="images">
                    <div class="mainImage">
                        <img src="~/Uploads/@Model.ProductImage.Name" alt="main image">
                    </div>
                    <div class="owl-carousel owl-theme">
                        @foreach (var item in Model.Product.ProductImages)
                        {
                            <div class="item">
                                <img src="~/Uploads/@item.Name" alt="image">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="proInfo">
                    <h1>@Model.Product.Model.Brand.Name  @Model.Product.Model.Name @Model.Product.Name  @Model.Color.Name</h1>
                    <hr>
                    <ul class="name">
                        <li>
                            Brand: <h3><a href="#">@Model.Product.Model.Brand.Name</a></h3>
                        </li>
                        <li>
                            Product Code: <h3> @Model.Code </h3>
                        </li>
                        <li>
                            Availability: <h3>@(Model.ProOption.Quantity>0?"Is Stock":"Out of Stock")</h3>
                        </li>
                    </ul>
                    <hr>
                    <h6>@Model.ProOption.Price.ToString("#.##") $</h6>
                    <hr>
                    <ul class="list-unstyled">
                        <li>
                            10 or more $ @((Model.ProOption.Price * 95 / 100).ToString("#.##"))
                        </li>
                        <li>
                            20 or more $ @((Model.ProOption.Price * 88 / 100).ToString("#.##"))
                        </li>
                        <li>
                            30 or more $@((Model.ProOption.Price * 80 / 100).ToString("#.##"))
                        </li>
                    </ul>
                    <hr>
                    <h1>Available Options</h1>
                    <h5>Colors</h5>
                    <form>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputDetailSelect">

                                @foreach (var item in Model.ProductOptions)
                                {
                                    <option value="@item.Id" @(Model.ProOption.Id == item.Id ? "selected" : "")>@item.Color.Name @item.Price.ToString("#.00") $</option>
                                }
                            </select>
                        </div>
                    </form>
                    <hr>
                    <div class="quantity">
                        <h2>Qty</h2>

                        <div class="dizayn prevBtn">
                            <span>-</span>
                        </div>
                        <div class="form-group">
                            <input type="number" id="Qty" value="1" min="1" max="200">
                        </div>
                        <div class="dizayn nextBtn">
                            <span>+</span>
                        </div>
                    </div>
                    <hr>
                    <div class="choose">
                        <button class="btn addToCardBtn" data-id="@Model.ProOption.Id">Add to Cart</button>
                        <button class="btn addToWishBtn">
                            <i class="fa fa-heart"></i>
                        </button>
                        <button class="btn addToCompareBtn">
                            <i class="fas fa-compress-alt"></i>
                        </button>
                    </div>
                    <hr>
                    <div class="stars">
                        <ul>
                            @if (Model.Product.Reviews.Count > 0)
                            {
                                for (int i = 0; i < 5; i++)
                                {
                                    <li><i class="fa fa-star @( (Model.Product.Reviews.Sum(p=> p.Star)/Model.Product.Reviews.Count)<=i? "sade":"") "></i></li>

                                }
                            }
                            else
                            {
                                <li> <i class="fa fa-star sade"></i> </li>
                                <li> <i class="fa fa-star sade"></i> </li>
                                <li> <i class="fa fa-star sade"></i> </li>
                                <li> <i class="fa fa-star sade"></i> </li>
                                <li> <i class="fa fa-star sade"></i> </li>
                            }
                        </ul>
                    </div>
                    <h3 class="reviewCount">
                        <a href="#">@Model.Product.Reviews.Count review(s)</a>
                        <a href="#">Write a review</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- product details info  -->
        <div class="row proInfo">
            <div class="col-lg-12">
                <div class="myNav">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab"
                               href="#nav-home" role="tab" aria-controls="nav-home"
                               aria-selected="true">Description</a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab"
                               href="#nav-profile" role="tab" aria-controls="nav-profile"
                               aria-selected="false">Specifiation</a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab"
                               href="#nav-contact" role="tab" aria-controls="nav-contact"
                               aria-selected="false">Reviews (@Model.Product.Reviews.Count)</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">

                            @(Html.Raw(Model.Product.Content))

                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                             aria-labelledby="nav-profile-tab">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col style="width: 50%;">
                                </colgroup>
                               
                                <tbody>
                                    @foreach (var specification in Model.Specifications)
                                    {
                                        <tr>
                                            <td>
                                                @specification.Title
                                            </td>
                                            <td>
                                                @specification.Content
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                             aria-labelledby="nav-contact-tab">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col style="width: 50%;">
                                </colgroup>
                                @foreach (var itemReview in Model.Product.Reviews.OrderByDescending(r=>r.Id).Take(10))
                                {
                                    <thead>
                                        <tr>
                                            <th>@itemReview.Name</th>
                                            <td class="date">@itemReview.AddedDate.ToString("MM/dd/yyyy")</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                @itemReview.Content
                                                <div class="stars">
                                                    <ul>
                                                            @for (int i = 0; i < 5; i++)
                                                            {
                                                                <li><i class="fa fa-star @( itemReview.Star<=i? "sade":"") "></i></li>

                                                            }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                }


                                
                            </table>
                            <h4>Write A Review</h4>
                            <form action="@Url.Action("writeReview","Detail")">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    <input type="text" class="form-control" name="Name"
                                           id="inputName">
                                </div>
                                <div class="form-group">
                                    <label>Your Review</label>
                                    <textarea class="form-control" id="inputContent" name="Content"
                                              rows="3"></textarea>
                                </div>
                                <label for="rating">Rating</label>
                                <h3>Bad</h3>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="Star" id="inputStars" value="1">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="Star" id="inputStars" value="2">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="Star" id="inputStars" value="3">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="Star" id="inputStars" value="4">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="Star" id="inputStars" value="5">
                                </div>
                                <input type="hidden" name="ProductId" value="@Model.Product.Id" />

                                <h3>Good</h3>
                                <br>
                                <button class="btn btn-primary" id="addReview" type="submit">Continue</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar product  -->
        <div class="row">
            <div class="col-lg-12">
                <div id="related">
                    <div class="topbar">
                        <div class="title">
                            <h2>related PRODUCTS</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="sliderProducts">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/parfum.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <!-- <img src="~/Public/img/products/notbuk.jpg" alt="phone"> -->
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/camera.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/parfum.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/dinamik.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <!-- <div class="forSale">
                                    <span>SALE</span>
                                </div> -->
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
