@model List<FinalElectron.Models.Order>

@{
    ViewBag.Title = "OrderHistory";
}


<!-- Register  page -->
<div class="col-lg-9 col-sm-8" id="account">
    <div class="row">
        <div class="col-lg-8">
            <!-- register page -->
            <div id="register">
                <div id="breadcrumb">
                    <div class="icon">
                        <a href="@Url.Action("Index","Home")">
                            <i class="fa fa-home"></i>
                        </a>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <a href="@Url.Action("Index","Account")">Account</a>
                    <div class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <a href="@Url.Action("OrderHistory","Account")">Order History</a>
                </div>
                <h2 class="title">Order History</h2>
                <table class="table table-bordered">
                    <colgroup>
                        <col width="40">
                        <col>
                        <col style="width:40px;">
                    </colgroup>
                    <thead style="background-color:white">
                        <tr class="wishTd">
                            <td>Order Id</td>
                            <td>Customer</td>
                            <td>No. of Products</td>
                            <td>Status</td>
                            <td>Total</td>
                            <td>Date Added</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr id="addressList" class="wishTd">
                                <td>
                                    #@item.Id
                                </td>

                                <td style="text-transform:capitalize">
                                    @item.Address.User.Surname @item.Address.User.Name
                                </td>

                                <td style="text-align:end">
                                    @item.OrderItems.Count
                                </td>
                                <td>
                                    @(item.IsDelivered ? "Delivered":"Pending")
                                </td>
                                <td>
                                    $@(item.IsFreeShipping? item.OrderItems.Sum(o => o.Price * o.Quantity).ToString("#.00") : (item.OrderItems.Sum(o => o.Price * o.Quantity)+item.ShippingPrice).ToString("#.00"))
                                </td>
                                <td>
                                    @item.AddedDate.Date.ToString("dd/MM/yyyy")
                                </td>
                                <td class="ForRightSide">
                                    <a href="@Url.Action("OrderById","Account" ,new { id=item.Id})" class="btn BtnShowOrder mr-0"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="buttonsDiv">
                    <div></div>
                    <a href="@Url.Action("Index","Account")" class="btn">Continue</a>
                </div>
            </div>
            <!-- end of register page -->
        </div>
        <div class="col-lg-4">
            <div id="accTable">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><a href="#">Login</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Register</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Wish List</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Order History</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Newsletter</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end of Register page -->
